.footer2{
    background: #E5E4D9;
    padding-top: 52px;
    padding-bottom: 65px;
    @include media(1200){
        padding-top: 50px;
        padding-bottom: 80px;
    }
    @include media(992){
        padding-bottom: 50px;
    }
    &__img{
        margin-bottom: 45px;
        @include media(1200){
            width: 370px;
            margin-bottom: 55px;
        }
        @include media(992){
            width: 320px;
        }
        @include media(768){
            width: 270px;
            margin-bottom: 35px;
        }
        @include media(575){
            width: 220px;
            margin-bottom: 30px;
        }
        img{
            width: 100%;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 28px;
        border-bottom: 1px solid #494949;
        @include media(575){
            flex-direction: column;
        }
    }
    &__col{
        padding-left: 0 !important;
        margin-bottom: 0 !important;
        @include media(575){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
        }
        &.first{
            @include media(575){
                margin-bottom: 30px !important;
            }
        }
        &:not(:last-of-type){
            @include media(575){
                margin-bottom: 30px !important;
            }
        }
        &:not(.first){
            .footer__li{
                margin-bottom: 34px;
                @include media(992){
                    margin-bottom: 20px;
                }
            }
        } 
        &.disable-xl{
            @include media(1200){
                display: none;
            }
        }
        &.enable-xl{
            display: none;
            @include media(1200){
                display: flex;
                padding-top: 56px;
                flex-direction: column;
                align-items: flex-start;
            }
            @include media(768){
                padding-top: 30px;
            }
            li{
                @include media(575){
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    &__li{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #494949;
        list-style: none;
        margin-bottom: 12px;
        @include media(1200){
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 28px;
        }
        @include media(768){
            font-size: 16px;
            line-height: 16px;
        }
        &.last{
            margin-bottom: 0;
        }
    }
    &__a{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #494949;
        list-style: none;
        @include media(1200){
            font-size: 24px;
            line-height: 28px;
        }
        @include media(992){
            font-size: 21px;
            line-height: 21px;
        }
        @include media(768){
            font-size: 16px;
            line-height: 16px;
        }
        &:hover{
            color: #494949;
        }
        &.mail{
            padding: 5px 6px;
            border: 1px solid #494949 !important;
            border-radius: 14px;
            @include media(1200){
                font-weight: 300;
                padding: 4px;
            }
        }
    }
    &__link{
        &:not(:last-of-type){
            margin-right: 10px;
            @include media(768){
                margin-right: 5px;
            }
        }
    }
    &__projects{
        display: flex;
        align-items: center;
        @include media(1200){
            width: 100%;
            justify-content: space-between;
        }
        @include media(575){
            flex-direction: column;
        }
    }
    &__project{
        position: relative;
        &:not(:last-of-type){
            &::before{
                content: '';
                position: absolute;
                right: 0;
                height: 23px;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                background: #E5E4D9;
                @include media(1200){
                    display: none;
                }
            }
            @include media(575){
                margin-bottom: 25px;
            }
        }
        &:nth-of-type(1){
            min-width: 82px;
            width: 82px;
            @include media(1200){
                min-width: max-content;
                width: max-content;
                img{
                    @include media(1200){
                        width: 170px;
                    }
                    @include media(992){
                        width: 130px;
                    }
                    @include media(768){
                        width: 110px;
                    }
                }
            }
        }
        &:nth-of-type(2){
            min-width: 143px;
            width: 143px;
            display: flex;
            justify-content: center;
            @include media(1200){
                min-width: max-content;
                width: max-content;
            }
            img{
                @include media(1200){
                    width: 290px;
                }
                @include media(992){
                    width: 210px;
                }
                @include media(768){
                    width: 160px;
                }
            }
        }
        &:nth-of-type(3){
            padding-left: 8px;
            img{
                @include media(1200){
                    width: 315px;
                    padding-left: 0;
                }
                @include media(992){
                    width: 230px;
                }
                @include media(768){
                    width: 180px;
                }
            }
        }
    }
}