.intro{
    background: #494949;
    padding-bottom: 50px;
    &__desc{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #E5E4D9;
        max-width: 340px;
        width: 100%;
        margin-bottom: 112px;
    }
    &__list{
        margin-bottom: 195px;
        width: 100%;
        display: flex;
        position: relative;
        overflow-x: auto;
        &::before{
            content: '';
            position: absolute;
            background: #494949;
            top: 0;
            bottom: 0;
            right: 100%;
            width: 1000px;
            z-index: 1;
        }
    }
    &__content{
        display: flex;
        align-items: center;
        width: max-content;
        transition: 300ms ease;
        .intro__a{
            svg{
                display: none;
            }
        }
    }
    &__a{
        display: flex;
        align-items: center;
        font-weight: 700;
        width: max-content;
        font-size: 32px;
        line-height: 38px;
        color: #E5E4D9;
        &.active{
            svg{
                display: block;
            }
        }
        &:hover{
            color: #E5E4D9;
        }
        svg{
            margin-left: 7px;
        }
        &:not(:last-of-type){
            margin-right: 100px;
        }
    }
    &__items{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
    }
    &__item{
        position: relative;
        isolation: isolate;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 91px;
        &:not(:last-of-type){
            margin-right: 28px;
        }
        &.contact{
            width: 54px;
            p{
                color: #494949;
            }
        }
    }
    &__img{
        position: absolute;
        z-index: -1;
    }
    &__p{
        max-width: 40px;
        width: 100%;
        font-weight: 700;
        font-size: 10px;
        line-height: 100.19%;
        text-align: center;
        color: #E5E4D9;
        margin-bottom: 0;
    }
}