.projects{
    background: #E5E4D9;
    .made__top{
        @include media(1200){
            margin-bottom: 35px;
        }
    }
    &__wrapper{
        display: none;
        padding-bottom: 125px;
        border-bottom: 1px solid #494949;
        @include media(1200){
            justify-content: space-between;
            display: flex;
        }
        @include media(992){
            padding-bottom: 50px;
        }
        @include media(768){
            padding-bottom: 30px;
        }
        @include media(575){
            flex-direction: column;
        }
        &.active{
            display: flex;
        }
        &.disable-xl{
            @include media(1200){
                display: none;
            }
        }
        &.enable-xl{
            display: none;
            @include media(1200){
                display: flex;
            }
        }
    }
    .row{
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-top: 0 !important;
        justify-content: space-between;
        *{
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
    &__col{
        @include media(1200){
            width: calc(50% - 17.5px);
        }
        @include media(992){
            width: calc(50% - 10px);
        }
        @include media(575){
            width: 100%;
        }
        &:nth-of-type(odd){
            margin-right: 35px;
            @include media(992){
                margin-right: 20px;
            }
            @include media(575){
                margin-right: 0;
            }
        }
        &:nth-of-type(even){
            .projects__img{
                height: 395px;
                width: 100%;
                @include media(992){
                    height: 320px;
                }
                @include media(768){
                    height: 230px;
                }
                @include media(575){
                    height: max-content;
                }
            }
        }
    }
    .col{
        margin-bottom: 15px !important;
        margin-top: 0 !important;
        display: block;
        width: calc(50% - 7.5px);
        @include media(1200){
            margin-bottom: 40px !important;
            width: 100%;
        }
        @include media(992){
            margin-bottom: 20px!important;
        }
    }
    .card{
        background: transparent;
        border: none;
        position: relative;
        height: 320px;
        isolation: isolate;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include media(1200){
            height: max-content;
        }
        &-body{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            height: max-content;
            padding: 20px 12px !important;
            @include media(1200){
                padding: 36px 0 0 !important;
                flex-direction: column;
                align-items: flex-start;
            }
            @include media(992){
                padding: 20px 0 0 !important;
            }
        }
        &-title{
            margin-bottom: 0;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            @include media(1200){
                font-size: 32px;
                line-height: 38px;
                color: #494949;
                margin-bottom: 10px;
            }
            @include media(992){
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 5px;
            }
            @include media(768){
                font-size: 21px;
                line-height: 25px;
            }
        }
        &-text{
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            text-align: right;
            color: #FFFFFF;
            @include media(1200){
                font-size: 24px;
                line-height: 28px;
                color: #494949;
            }
            @include media(992){
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    &__img{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        @include media(1200){
            position: static;
        }
        img{
            height: 100%;
            width: 100%;
            &.disable-xl{
                @include media(1200){
                    display: none;
                }
            }
            &.enable-xl{
                display: none;
                @include media(1200){
                    display: block;
                }
            }
        }
    }
}