mixin footer()
    footer.footer
        .footer__body.container 
            .footer__top 
                .footer__img 
                    img(src="@img/footer-img.svg", alt="" draggable="false")
                h2.footer__title 
                    img(src="@img/footer-arrow.svg", alt="" draggable="false")
                    | Contact us #[br] to discuss your brief
            .footer__content 
                ul.footer__col.first
                    li.footer__li 
                        a(href="#!").footer__a Jobs 
                    li.footer__li 
                        a(href="#!").footer__a Terms of Use 
                    li.footer__li 
                        a(href="#!").footer__a Privacy Policy 
                    li.footer__li.last 
                        a(href="#!").footer__a.last Privacy Preferences
                .footer__col 
                    li.footer__li Follow:
                    .footer__links 
                        a(href="https://facebook.com").footer__link
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.28639 0.0551758C6.99768 0.120472 4.81449 1.00521 3.15606 2.53949C1.49764 4.07376 0.480912 6.1494 0.301142 8.36778C0.121373 10.5862 0.791234 12.7909 2.18208 14.5585C3.57293 16.3262 5.58671 17.5322 7.83667 17.9449V11.6574H5.46348V9.05518H7.81088V7.04961C7.81088 4.79835 9.19352 3.53986 11.3088 3.53986C12.0001 3.54954 12.6898 3.6082 13.3724 3.71534V5.9315H12.2168C12.0179 5.90604 11.8156 5.92426 11.6249 5.98483C11.4342 6.04541 11.2599 6.14678 11.1149 6.28149C10.9698 6.4162 10.8577 6.58081 10.7868 6.76321C10.7159 6.9456 10.688 7.14113 10.7051 7.3354V9.02509H13.2847L12.8771 11.6273H10.7051V17.9449C13.0049 17.5917 15.0835 16.4097 16.5267 14.634C17.97 12.8584 18.6721 10.6196 18.4932 8.36352C18.3142 6.10743 17.2674 3.99961 15.5612 2.45992C13.8551 0.92022 11.6147 0.0616365 9.28639 0.0551758Z" fill="#E5E4D9"/>
                            </svg>
                        a(href="https://instagram.com").footer__link
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.75532 3.48347e-05C7.91755 -0.00492643 6.11959 0.520165 4.58906 1.50883C3.05853 2.4975 1.86425 3.90528 1.15743 5.55395C0.450608 7.20263 0.263021 9.01805 0.618421 10.7704C0.97382 12.5227 1.85622 14.1332 3.15392 15.3979C4.45161 16.6626 6.10624 17.5246 7.90833 17.8749C9.71042 18.2252 11.5789 18.0479 13.2773 17.3656C14.9757 16.6832 16.4275 15.5265 17.4491 14.0418C18.4706 12.5571 19.0159 10.8112 19.0159 9.0251C19.0193 7.8411 18.7823 6.66808 18.3184 5.57325C17.8546 4.47843 17.173 3.48332 16.3127 2.64493C15.4524 1.80655 14.4304 1.14137 13.3052 0.687509C12.1799 0.23365 10.9736 3.02413e-05 9.75532 3.48347e-05V3.48347e-05ZM15.549 11.3365C15.5387 11.8058 15.448 12.2701 15.2807 12.7103C15.1351 13.0893 14.9042 13.4319 14.6049 13.7131C14.3137 14.0018 13.9617 14.2259 13.5731 14.3699C13.1207 14.535 12.6426 14.6231 12.1595 14.6307C11.5352 14.6608 11.3392 14.6658 9.75532 14.6658C8.17147 14.6658 7.97027 14.6658 7.35117 14.6307C6.86642 14.623 6.38658 14.5348 5.93242 14.3699C5.54376 14.2259 5.19177 14.0018 4.90059 13.7131C4.60278 13.4317 4.3736 13.0891 4.22991 12.7103C4.06058 12.2704 3.96816 11.8061 3.95648 11.3365C3.93068 10.7298 3.92552 10.5393 3.92552 9.00003C3.92552 7.46076 3.92552 7.26522 3.95648 6.66354C3.96816 6.19399 4.06058 5.72965 4.22991 5.28973C4.37545 4.91188 4.60437 4.5696 4.90059 4.28694C5.19328 4.00126 5.54495 3.77911 5.93242 3.63513C6.38658 3.47024 6.86642 3.38206 7.35117 3.37441C7.97027 3.34432 8.17147 3.33931 9.75532 3.33931C11.3392 3.33931 11.5352 3.33931 12.1595 3.37441C12.6426 3.38194 13.1207 3.47013 13.5731 3.63513C13.9605 3.77911 14.3122 4.00126 14.6049 4.28694C14.9026 4.56941 15.1332 4.91164 15.2807 5.28973C15.448 5.73002 15.5387 6.19431 15.549 6.66354C15.58 7.26522 15.5851 7.46076 15.5851 9.00003C15.5851 10.5393 15.58 10.7298 15.549 11.3365Z" fill="#E5E4D9"/>
                                <path d="M14.3005 5.65567C14.2045 5.41012 14.0549 5.18774 13.8619 5.00386C13.6743 4.81564 13.4449 4.67159 13.1912 4.58269C12.8448 4.45589 12.478 4.38969 12.1078 4.38715C11.4939 4.36208 11.3082 4.35205 9.75528 4.35205C8.20239 4.35205 8.0115 4.35205 7.39756 4.38715C7.02744 4.39031 6.66076 4.4565 6.31415 4.58269C6.06112 4.67283 5.83199 4.81672 5.64346 5.00386C5.45209 5.18802 5.30422 5.41043 5.2101 5.65567C5.08025 5.99253 5.01215 6.34889 5.00889 6.7086C4.97794 7.30525 4.97278 7.48576 4.97278 8.99996C4.97278 10.5142 4.97278 10.6897 5.00889 11.2913C5.01124 11.6495 5.07938 12.0044 5.2101 12.3392C5.30157 12.5858 5.4498 12.8087 5.64346 12.991C5.83181 13.1796 6.06088 13.3252 6.31415 13.4172C6.66146 13.5409 7.0277 13.607 7.39756 13.6128C8.0115 13.6378 8.19723 13.6429 9.75528 13.6429C11.3133 13.6429 11.4939 13.6429 12.1078 13.6128C12.4778 13.6076 12.8441 13.5415 13.1912 13.4172C13.4427 13.3217 13.6711 13.1766 13.862 12.9911C14.0529 12.8055 14.2022 12.5836 14.3005 12.3392C14.4285 12.0036 14.4966 11.6492 14.5017 11.2913C14.5275 10.6897 14.5326 10.5142 14.5326 8.99996C14.5326 7.48576 14.5326 7.30525 14.5017 6.7086C14.4958 6.34915 14.4277 5.99322 14.3005 5.65567ZM9.75528 11.908C9.16346 11.908 8.58493 11.7375 8.09285 11.4179C7.60077 11.0984 7.21724 10.6442 6.99076 10.1128C6.76429 9.58145 6.70503 8.99674 6.82049 8.43262C6.93594 7.86851 7.22093 7.35034 7.63941 6.94364C8.05789 6.53694 8.59107 6.25997 9.17151 6.14776C9.75196 6.03555 10.3536 6.09314 10.9004 6.31325C11.4471 6.53335 11.9145 6.90609 12.2433 7.38432C12.5721 7.86255 12.7476 8.4248 12.7476 8.99996C12.7462 9.77082 12.4305 10.5097 11.8696 11.0548C11.3088 11.5999 10.5485 11.9067 9.75528 11.908ZM12.8507 6.65344C12.7118 6.65344 12.5759 6.61332 12.4604 6.53817C12.3449 6.46301 12.255 6.35622 12.202 6.23133C12.1491 6.10643 12.1355 5.96907 12.163 5.83666C12.1905 5.70425 12.2578 5.58276 12.3565 5.4876C12.4551 5.39244 12.5806 5.32789 12.7171 5.30215C12.8535 5.27641 12.9947 5.29063 13.1228 5.34301C13.251 5.39539 13.3602 5.48357 13.4367 5.59637C13.5131 5.70916 13.5534 5.84149 13.5524 5.97656C13.5524 6.15436 13.4804 6.32502 13.352 6.45168C13.2237 6.57833 13.0491 6.65081 12.8662 6.65344H12.8507Z" fill="#E5E4D9"/>
                            </svg>
                        a(href="https://youtube.com").footer__link
                            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.2499 5.0162e-05C8.41187 -0.00590407 6.61341 0.518342 5.0822 1.5064C3.55099 2.49446 2.35592 3.9019 1.6483 5.55048C0.940687 7.19906 0.752362 9.01464 1.10718 10.7673C1.46199 12.52 2.34399 14.1309 3.64147 15.3961C4.93896 16.6613 6.59357 17.5238 8.3958 17.8745C10.198 18.2252 12.0668 18.0482 13.7655 17.366C15.4641 16.6838 16.9163 15.5271 17.9381 14.0423C18.9599 12.5575 19.5053 10.8114 19.5053 9.02512C19.5087 7.84154 19.2718 6.66893 18.8083 5.57443C18.3447 4.47993 17.6636 3.48504 16.8039 2.64672C15.9442 1.8084 14.9228 1.14312 13.7981 0.688966C12.6735 0.234811 11.4677 0.00070495 10.2499 5.0162e-05V5.0162e-05ZM16.1622 11.8881C16.0923 12.1423 15.955 12.3743 15.7639 12.5608C15.5729 12.7473 15.3349 12.8819 15.0736 12.951C14.1089 13.2017 10.2499 13.2017 10.2499 13.2017C10.2499 13.2017 6.38568 13.2017 5.42609 12.951C5.16387 12.8826 4.92477 12.7484 4.73279 12.5619C4.54082 12.3753 4.40272 12.1429 4.33235 11.8881C4.15449 10.9352 4.06813 9.96841 4.0744 9.00005C4.06813 8.03169 4.15449 7.06486 4.33235 6.11203C4.40272 5.85719 4.54082 5.62482 4.73279 5.43824C4.92477 5.25167 5.16387 5.11746 5.42609 5.04907C6.38568 4.79838 10.2499 4.79838 10.2499 4.79838C10.2499 4.79838 14.1089 4.79838 15.0736 5.04907C15.3349 5.11822 15.5729 5.25278 15.7639 5.4393C15.955 5.62582 16.0923 5.85779 16.1622 6.11203C16.3401 7.06486 16.4264 8.03169 16.4202 9.00005C16.4264 9.96841 16.3401 10.9352 16.1622 11.8881Z" fill="#E5E4D9"/>
                                <path d="M8.55261 10.6195L11.7616 8.81953L8.55261 7.01953V10.6195Z" fill="#E5E4D9"/>
                            </svg>
                        a(href="https://twitter.com").footer__link
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.50723 3.50167e-05C7.67055 3.50167e-05 5.87512 0.529346 4.34798 1.52103C2.82084 2.51272 1.63058 3.92224 0.927716 5.57136C0.22485 7.22048 0.0409466 9.03512 0.399264 10.7858C0.757582 12.5365 1.64202 14.1446 2.94075 15.4068C4.23948 16.669 5.89416 17.5285 7.69554 17.8768C9.49693 18.225 11.3641 18.0463 13.061 17.3632C14.7579 16.6801 16.2082 15.5233 17.2286 14.0392C18.249 12.555 18.7936 10.8101 18.7936 9.0251C18.797 7.83899 18.5592 6.66391 18.0937 5.56745C17.6282 4.47098 16.9443 3.47475 16.0813 2.63604C15.2183 1.79732 14.1932 1.13267 13.065 0.680289C11.9368 0.227908 10.7277 -0.00327356 9.50723 3.50167e-05ZM14.6251 7.07469C14.6251 7.17496 14.6251 7.28026 14.6251 7.38555C14.625 8.60534 14.2872 9.80266 13.6472 10.852C13.0072 11.9012 12.0885 12.7639 10.9875 13.3494C9.88643 13.935 8.64357 14.2218 7.38919 14.18C6.13481 14.1381 4.91513 13.769 3.858 13.1115C4.05335 13.1317 4.24968 13.1418 4.44614 13.1415C5.55104 13.1492 6.62659 12.7961 7.50034 12.1388C6.98721 12.1299 6.48982 11.9651 6.07804 11.6675C5.66626 11.3698 5.36078 10.9542 5.20453 10.4791C5.35539 10.5112 5.50927 10.528 5.66369 10.5293C5.88333 10.5294 6.10199 10.5008 6.31374 10.444C5.75696 10.3353 5.25602 10.0427 4.89588 9.61594C4.53574 9.18917 4.33857 8.65448 4.3378 8.10254C4.33538 8.09265 4.33538 8.08235 4.3378 8.07246C4.678 8.25555 5.0583 8.35698 5.44701 8.36828C4.92625 8.03079 4.55773 7.51278 4.41678 6.92009C4.27582 6.3274 4.37306 5.70477 4.68862 5.17942C5.30505 5.91911 6.07464 6.52456 6.94745 6.95645C7.82025 7.38835 8.77675 7.63704 9.75487 7.68639C9.71308 7.50707 9.69231 7.32373 9.69296 7.13987C9.69429 6.66144 9.84323 6.1944 10.1205 5.79911C10.3978 5.40381 10.7908 5.09842 11.2485 4.92242C11.7063 4.74641 12.2078 4.70787 12.6884 4.81179C13.1689 4.9157 13.6063 5.15729 13.9441 5.50533C14.4898 5.39936 15.0131 5.20441 15.4918 4.92873C15.3053 5.46399 14.9309 5.91839 14.4342 6.21229C14.9207 6.15769 15.3957 6.03087 15.8426 5.83625C15.5173 6.31731 15.1047 6.73693 14.6251 7.07469Z" fill="#E5E4D9"/>
                            </svg>
                .footer__col 
                    li.footer__li Text us:
                    .footer__links 
                        a(href="mailto::vimotion@gmail.com").footer__a.mail vimotion@gmail.com
                .footer__col.disable-xl 
                    li.footer__li Our projects:
                    .footer__projects 
                        .footer__project 
                            img(src="@img/footer-project-1.svg", alt="" draggable="false")
                        .footer__project 
                            img(src="@img/footer-project-2.svg", alt="" draggable="false")
                        .footer__project 
                            img(src="@img/footer-project-3.svg", alt="" draggable="false")
            .footer__col.enable-xl 
                li.footer__li Our projects:
                .footer__projects 
                    .footer__project 
                        img(src="@img/footer-project-1.svg", alt="" draggable="false")
                    .footer__project 
                        img(src="@img/footer-project-2.svg", alt="" draggable="false")
                    .footer__project 
                        img(src="@img/footer-project-3.svg", alt="" draggable="false")
                