mixin intro()
    .intro
        .intro__body.container
            p.intro__desc Vimotion is a multidisciplinary studio, which solves the marketing tasks by making a variety of creative content
            .intro__list
                .intro__content 
                    button.intro__a.active Latest Projects 
                        <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 23L37 11.9977L26 1" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M37 12H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                        </svg> 
                    button.intro__a Turbolecture 
                        <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 23L37 11.9977L26 1" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M37 12H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                        </svg> 
                    button.intro__a Underground 
                        <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 23L37 11.9977L26 1" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M37 12H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                        </svg> 
                    button.intro__a Flowers 
                        <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 23L37 11.9977L26 1" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M37 12H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                        </svg> 
                    button.intro__a Kosberg Made It 
                        <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 23L37 11.9977L26 1" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M37 12H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                        </svg> 
                    button.intro__a Turbolecture
                        <svg width="39" height="24" viewBox="0 0 39 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26 23L37 11.9977L26 1" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M37 12H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                        </svg> 
            .intro__items 
                a(href="#!").intro__item
                    .intro__img 
                        img(src="@img/intro-icon-1.svg", alt="" draggable="false") 
                    p.intro__p Watch showreel
                a(href="#!").intro__item.contact 
                    .intro__img 
                        img(src="@img/intro-icon-2.svg", alt="" draggable="false") 
                    p.intro__p Contact us
