mixin made()
    .made
        .made__body.container 
            .made__top 
                .made__list 
                    button(type="button" data-target="projects").made__button.active Projects
                    button(type="button" data-target="video").made__button Video production
                    button(type="button" data-target="animation").made__button 2D/3D animation
                    button(type="button" data-target="design").made__button Graphic design 
                a(href="#!").made__btn Watch All 
                    <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1621 15L22.9999 7.99854L16.1621 1" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10"/>
                        <path d="M23 8H0" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>
            .made__wrapper.active#projects
                .made__titles 
                    h2.made__title Kosberg Made It
                    p.made__p Documentary, 2020
                .made__video 
                    a(href="#!").made__play
                        img(src="@img/made-play.svg", alt="" draggable="false")
                .made__content 
                    .made__item 
                        p.made__subtitle Brief
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader Alex Garland's (Ex Machina, Annihilation) feverish, shape-shifting new horror film. 
                    .made__item 
                        p.made__subtitle Approach
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader.
                    .made__item 
                        p.made__subtitle Impact
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader Alex Garland's (Ex Machina, Annihilation).
            .made__wrapper#video
                .made__titles 
                    h2.made__title Kosberg Made It
                    p.made__p Documentary, 2020
                .made__video 
                    a(href="#!").made__play
                        img(src="@img/made-play.svg", alt="" draggable="false")
                .made__content 
                    .made__item 
                        p.made__subtitle Brief
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader Alex Garland's (Ex Machina, Annihilation) feverish, shape-shifting new horror film. 
                    .made__item 
                        p.made__subtitle Approach
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader.
            .made__wrapper#animation
                .made__titles 
                    h2.made__title Kosberg Made It
                    p.made__p Documentary, 2020
                .made__video 
                    a(href="#!").made__play
                        img(src="@img/made-play.svg", alt="" draggable="false")
                .made__content 
                    .made__item 
                        p.made__subtitle Approach
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader.
                    .made__item 
                        p.made__subtitle Impact
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader Alex Garland's (Ex Machina, Annihilation).
            .made__wrapper#design
                .made__titles 
                    h2.made__title Kosberg Made It
                    p.made__p Documentary, 2020
                .made__video 
                    a(href="#!").made__play
                        img(src="@img/made-play.svg", alt="" draggable="false")
                .made__content 
                    .made__item 
                        p.made__subtitle Brief
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader Alex Garland's (Ex Machina, Annihilation) feverish, shape-shifting new horror film. 
                    .made__item 
                        p.made__subtitle Approach
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader.
                    .made__item 
                        p.made__subtitle Impact
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader Alex Garland's (Ex Machina, Annihilation).
                    .made__item 
                        p.made__subtitle Approach
                        p.made__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmader.