mixin projects()
    .projects 
        .projects__body.container 
            .made__top 
                .made__list 
                    button(type="button" data-target="projects").made__button.active Projects
                    button(type="button" data-target="video").made__button Video production
                    button(type="button" data-target="animation").made__button 2D/3D animation
                    button(type="button" data-target="design").made__button Graphic design 
                a(href="#!").made__btn Watch All 
                    <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1621 15L22.9999 7.99854L16.1621 1" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10"/>
                        <path d="M23 8H0" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>
            .projects__wrapper.disable-xl.active#projects 
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            .projects__wrapper.enable-xl#projects
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
            .projects__wrapper.disable-xl#video 
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Video</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            .projects__wrapper.enable-xl#video
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Video</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
            .projects__wrapper.disable-xl#animation 
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Animation</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            .projects__wrapper.enable-xl#animation
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Animation</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
            .projects__wrapper.disable-xl#design 
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Design</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            .projects__wrapper.enable-xl#design
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Design</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                .projects__col 
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Justlan</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">3D-animation, 2020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            .projects__img 
                                img(src="@img/projects-img-1.png", alt="" draggable="false").disable-xl 
                                img(src="@img/projects-img-xl.png", alt="" draggable="false").enable-xl
                            <div class="card-body">
                                <h5 class="card-title">Kosberg Made It</h5>
                                <p class="card-text">Documentary, 2020</p>
                            </div>
                        </div>
                    </div>


