mixin work()
    .work 
        .work__body
            .work__top.container
                h2.work__title Work in progress:
                p.work__desc What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmaker Alex Garland's (Ex Machina, Annihilation).
            .work__content 
                .work__item
                    img(src="@img/work-img-dark.png", alt="" draggable="false") 
                .work__item
                    img(src="@img/work-img-light.png", alt="" draggable="false") 
            .work__top.container
                p.work__p Cosberg Worked Out (Vimotion production, 2021)
                p.work__desc.tal What begins as simmering dread becomes a fully-formed nightmare, inhabited by her darkest memories and fears in visionary filmmaker Alex Garland's (Ex Machina, Annihilation) feverish, shape-shifting new horror film.
            .work__content 
                .work__item
                    img(src="@img/work-img-dark.png", alt="" draggable="false") 
                .work__item
                    img(src="@img/work-img-light.png", alt="" draggable="false") 